<!doctype html>
<html lang="en">

<head>
    <title>FPT INTERNATIONAL MANAGE STUDENT</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="~/css/header.css">
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="~/css/footer.css">

    <script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
        }


    </script>

</head>

<body>
    <div class="container-fluid logo-user">
        <div class="row" style="height:100px;">
            <div class="col-xl-10">
                <img src="~/image/fpt.png" />
            </div>
            <!-- <div class="col-xl-1 col-md-1 col-lg-1 "></div> -->
            <div class="col-xl-1 ">
                <button type="button" class="icon-button">
                    <span class="material-icons">notifications</span>
                    <a><span class="icon-button__badge">2</span> </a>
                </button>
            </div>
            <div class="col-xl-1" id="logo_user">
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn"></button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#home">My Infor</a>
                        <a>
                            <form method="post" asp-controller="Home" asp-action="Logout">
                                <button class="btn btn-info">Log Out</button>
                            </form>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <nav class="navbar navbar-expand-lg navbar-light" style="margin-left: 5px;">
            <!-- <a class="navbar-brand" style="margin-left: 0;" href="#"> -->
            <!-- <img src="images/fpt.png" /> -->
            </a>
            <button class="navbar-toggler aaa" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#">Staff</a>
                    </li>
                    <li class="nav-item dropdowns">
                        <a class="nav-link" href="#" id="navbarDropdown">
                            Student
                        </a>
                        <div class="dropdown-description">
                            <a class="dropdown-item" href="#">Student Group</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Manage Student</a>

                        </div>
                    </li>
                    <li class="nav-item dropdowns">
                        <a class="nav-link" href="#" id="navbarDropdown">
                            Visa & Passport
                        </a>
                        <div class="dropdown-description">
                            <a class="dropdown-item" href="#">Pre-Approval Visa Letter</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Visa</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Passport</a>
                        </div>
                    </li>
                    <li class="nav-item dropdowns">
                        <a class="nav-link" href="#" id="navbarDropdown">
                            Insurance
                        </a>
                        <div class="dropdown-description">
                            <a class="dropdown-item" href="#">Insurance Instruction</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Student Insurance</a>
                        </div>
                    </li>
                    <li class="nav-item dropdowns">
                        <a class="nav-link" href="#" id="navbarDropdown">
                            Pre-departure
                        </a>
                        <div class="dropdown-description">
                            <a class="dropdown-item" href="#">What to pack</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Student's Flight</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Handbook</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Accomodation</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">General Agenda</a>
                        </div>
                    </li>
                    <li class="nav-item dropdowns">
                        <a class="nav-link" href="#" id="navbarDropdown">
                            Program
                        </a>
                        <div class="dropdown-description">
                            <a class="dropdown-item" href="#">Orientation</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Detailed agenda</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Accommodation</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Transportation</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Program material</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Surveys</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Program Materials</a>
                        </div>
                    </li>
                    <li class="nav-item dropdowns">
                        <a class="nav-link" href="#" id="navbarDropdown">
                            Local recommendation
                        </a>
                        <div class="dropdown-description">
                            <a class="dropdown-item" href="#">Da Nang</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Ho Chi Minh</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Ha Noi</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Can Tho</a>
                        </div>
                    </li>
                    <li class="nav-item dropdowns">
                        <a class="nav-link" href="#" id="navbarDropdown">
                            Job services
                        </a>
                        <div class="dropdown-description">
                            <a class="dropdown-item" href="#">I want a Job</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Job Vacancies</a>

                        </div>
                    </li>
                    <li class="nav-item dropdowns">
                        <a class="nav-link" href="#">FAQs</a>
                    </li>
                    <li class="nav-item dropdowns">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer style="margin-top:100px">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4 footer-about wow fadeInUp">
                        <img class="logo-footer" src="assets/img/logo.png" alt="logo-footer" data-at2x="assets/img/logo.png">
                        <p>
                            FPT là một ngôi trường thân thiện....
                        </p>

                    </div>
                    <div class="col-md-4 col-lg-4 offset-lg-1 footer-contact wow fadeInDown">
                        <h3>Contact</h3>
                        <p><i class="fas fa-map-marker-alt"></i> FPT UNIVERSITY DA NANG</p>
                        <p><i class="fas fa-phone"></i> Phone: (84+) 123456789</p>
                        <p>
                            <i class="fas fa-envelope"></i> Email: <a href="mailto:tranxuanback@gmail.com">tranxuanback@gmail.com</a>
                        </p>
                        <p><i class="fab fa-skype"></i> Skype: you_online</p>
                    </div>
                    <div class="col-md-4 col-lg-3 footer-social wow fadeInUp">
                        <h3>Follow us</h3>
                        <p>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-pinterest"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>