@{
    ViewData["Title"] = "Admin Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!doctype html>
<html lang="en">
<div style="height: 500px; background-color: white;">
    <h1 style="text-align: center;"> Job Vancacies </h1>
    <div style="height:50px">
        <button style="float: right;" class="btn btn-danger">
            <a style="text-decoration: none; color:white">Delete</a>
        </button>
        <button style="float: right; background-color: orangered;" class="btn btn-info">
            <a style="text-decoration: none; color:white" href="#xmas-popup-assign">Edit</a>
        </button>
        <button style="float: right;" class="btn btn-success">
            <a style="text-decoration: none; color:white" href="#xmas-popup-assign">Create</a>
        </button>
    </div>
    <br>
    <br>
    <div class="table-scroll">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Job</th>
                    <th scope="col">Location</th>
                    <th scope="col">Employee Type</th>
                    <th scope="col">Content</th>
                    <th scope="col">Dealine for Applycation</th>
                    <th scope="col">Note</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Mark</td>
                    <td>Mark</td>
                    <td>Mark</td>
                    <td>Mark</td>
                    <td>Mark</td>

                </tr>
        </table>


    </div>



    <div id="xmas-popup-assign" class="popup">
        <div class="popup-content-assign" style="height:500px">
            <form>
                <h1 style="text-align: center; margin-top: 20px;margin-bottom: 50px;">Job Vacancies</h1>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Job:</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Location:</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Employee Type:</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Content:</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Dealine for Application:</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Note:</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                </div>

                <div class="form-group row">
                    <button  style="margin-left: 190px; width: 80px;" type="button"
                            class="btn btn-success" id="save">
                        Save
                    </button>

                    <button style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger" id="cancel">
                        <a style="text-decoration: none; color: white;" href="#">Cancel</a>
                    </button>

                </div>

            </form>
        </div>


    </div>






</div>
</html>
