@model ISM.WebApp.ViewModels.GeneralAgendaDetailViewModel
@{
    ViewData["Title"] = "Pre-Approval Visa  Page";
    Layout = "~/Views/Shared/_MobilityStudentLayout.cshtml";
}

<h1 style="text-align: center;"> General Agenda </h1>
<div style="height:50px">

</div>
<br>
<br>
<div>
    <a href="~/GeneralAgenda/@Model.generalAgenda.content" style="font-size:18px;" download="General Agenda">Download General Agenda</a>
    <h3>Note:</h3>
    <p style="font-size:16px;">@Model.generalAgenda.note</p>
</div>

<script>function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn_search')) {
            var dropdowns = document.getElementsByClassName("dropdown-content_search");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show_search')) {
                    openDropdown.classList.remove('show_search');
                }
            }
        }
    }

    function search_visa() {
        document.getElementById("myDropdown_search").classList.toggle("show_search_visa");
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown_search");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }</script>