@{
    ViewData["Title"] = "Admin Home Page";
    Layout = "~/Views/Shared/_DegreeStudentLayout.cshtml";
}

    <h1 style="text-align: center;">Guidance for applying Visa in VietNam</h1>
<div class="row">
    <div class="col-md-12">
        <div style="width:55%;margin:0 auto">
            <form>
                <h3> Step 1:</h3>  Student sends the copy of passport with validity of minimum 6 months and confirm where to collect visa: the Vietnamese Embassy in their country or at the airport in Vietnam where they arrive
                Time to get visa approval letter: 7 – 10 working days since the date of submitting documents to Immigration Office.<br />
                <h3> Step 2:</h3> The coordinator sends the soft copy of visa approval letter for student.<br />
                <h3> Step 3:</h3> Student prints out the visa approval letter and bring it with original passport to the Vietnamese Embassy in their country to get visa page pasted in the original passport. You will need to pay for visa fee. The fee depends on the policy of Vietnamese Embassy in each country.
                For students who wish to get the visa at the arrival airport, they will need to show the visa approval letter to get visa page pasted at the airport<br />
                <br />
                Note:<br />
                - In some cases, students need to show the admission letter from school to get the visa.<br />
                - Students do not book flight ticket till they get the visa approval letter.<br />
            </form>
        </div>

    </div>
</div>
       




