@{
    ViewData["Title"] = "Staff Home Page";
}
<h1>Mobility Student Home Page</h1>
<form method="post" asp-controller="Home" asp-action="Logout">
    <button class="btn btn-info">Log Out</button>
</form>