@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using ISM.WebApp.Constant;
@using ISM.WebApp.Utils
@{
    var sessionUser = JsonConvert.DeserializeObject<Account>(Context.Session.GetString(LoginConst.SessionKeyName));
    if (sessionUser.role_name == "Admin")
    {
        ViewData["Title"] = "Local Recommendation Page";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (sessionUser.role_name == "Staff")
    {
        ViewData["Title"] = "Local Recommendation Page";
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}

@*<form method="post" asp-controller="Home" asp-action="Logout">
        <button class="btn btn-info">Log Out</button>
    </form>*@

<!doctype html>
<html lang="en">



<div style="height: 500px; background-color: white;">
    <h1 style="text-align: center;">Local Recommendation</h1>
    <div style="height: 50px;">
        <select style="margin-left:275px">
            <option>Ha Noi</option>
            <option>Da Nang</option>
            <option>Ho Chi Minh</option>
            <option>Can Tho</option>
        </select>
        <button style=" float: right; background-color: orangered;" class="btn btn-info">
            <a style="text-decoration: none; color:white" href="#xmas-popup">Edit</a>
        </button>
        <br>
        <br>
        <div style="height: 200px; width: 55%; border:1px solid black; margin: 0 auto">

            <p>Content.....................</p>






            <!-- popup code -->
            <div id="xmas-popup" class="popup" href="#">
                <div class="popup-content">
                    <form>
                        <h1 style="text-align: center; margin-top: 20px;">Infomation to Local Recommendation</h1>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Content:</label>
                            <textarea name="Text1" cols="40" rows="10"></textarea>
                        </div>

                        <div class="form-group row">
                            <button style="margin-left: 190px; width: 80px;" type="button" class="btn btn-success" id="save">Save</button>

                            <button style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger" id="cancel"><a style="text-decoration: none; color: white;" href="#">Cancel</a></button>

                        </div>

                    </form>
                </div>


                <!-- </form> -->
                <!-- <a href="#" class="close">x</a> -->
            </div>
        </div>

    </div>


</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</html>

