@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using ISM.WebApp.Constant;
@using ISM.WebApp.Utils
@{
    var sessionUser = JsonConvert.DeserializeObject<Account>(Context.Session.GetString(LoginConst.SessionKeyName));
    if (sessionUser.role_name == "Admin")
    {
        ViewData["Title"] = "Contact Information Page";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (sessionUser.role_name == "Staff")
    {
        ViewData["Title"] = "Contact Information Page";
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}
    <h1 style="text-align: center;"> Contact Information </h1>
    <div style="height:50px">
        <button style="float: right; width:80px; border-radius:10px;" class="btn btn-danger">
            <a style="text-decoration: none; color:white">Delete</a>
        </button>
        <button style="float: right;  width:80px; border-radius:10px;" class="btn btn-info">
            <a style="text-decoration: none; color:white" href="#xmas-popup-assign">Edit</a>
        </button>
        <button style="float: right; width:80px; border-radius:10px;" class="btn btn-success">
            <a style="text-decoration: none; color:white" href="#xmas-popup-assign">Create</a>
        </button>
    </div>
    <br>
    <br>
    <div class="table-scroll">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Account</th>
                    <th scope="col">Telephone</th>
                    <th scope="col">Picture</th>
                    <th scope="col">Position</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Mark</td>
                    <td>Mark</td>
                    <td>Mark</td>
                    <td>Mark</td>

                </tr>
        </table>


    </div>



    <div id="xmas-popup-assign" class="popup">
        <div class="row">
            <div class="col-12 col-xl-12 col-md-12 col-sm-12 col-lg-12">
                <div class="popup-content-assign" style="height:500px">
                    <form>
                        <h1 style="text-align: center; margin-top: 20px;margin-bottom: 50px;">Contact Information</h1>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Name:</label>
                            <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Email:</label>
                            <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Account:</label>
                            <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Telephone:</label>
                            <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Picture:</label>
                            <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Position:</label>
                            <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                        </div>

                        <div class="form-group row">
                            <button id="save" style="margin-left: 190px; width: 80px;" type="button"
                                    class="btn btn-success">
                                Save
                            </button>

                            <button id="cancel" style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger">
                                <a style="text-decoration: none; color: white;" href="#">Cancel</a>
                            </button>

                        </div>

                    </form>
                </div>
            </div>
        </div>
        @*<div class="popup-content-assign" style="height:500px">
                <form>
                    <h1 style="text-align: center; margin-top: 20px;margin-bottom: 50px;">Contact Information</h1>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Name:</label>
                        <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Email:</label>
                        <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Account:</label>
                        <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Telephone:</label>
                        <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Picture:</label>
                        <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Position:</label>
                        <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                    </div>

                    <div class="form-group row">
                        <button style="margin-left: 190px; width: 80px;" type="button"
                                class="btn btn-success">
                            Save
                        </button>

                        <button style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger">
                            <a style="text-decoration: none; color: white;" href="#">Cancel</a>
                        </button>

                    </div>

                </form>
            </div>*@


    </div>

