@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using ISM.WebApp.Constant;
@using ISM.WebApp.Utils
@{
    var sessionUser = JsonConvert.DeserializeObject<Account>(Context.Session.GetString(LoginConst.SessionKeyName));
    if (sessionUser.role_name == "Admin")
    {
        ViewData["Title"] = "Home Page";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (sessionUser.role_name == "Staff")
    {
        ViewData["Title"] = "Home Page";
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}
<div style="height: 500px; background-color: white;">
    @*<h1 style="text-align: center;">Staff</h1>*@
    <div style="height: 50px;">
        @*<button style="width: 100px; border-radius: 10px;float: right; background-color: tomato;">
                <a style="text-decoration: none;" href="#xmas-popup">Edit</a>

            </button>
            <button style="width: 100px; border-radius: 10px; float: right; background-color: greenyellow;">
                <a style="text-decoration: none;" href="#xmas-popup">Create</a>
            </button>*@

        <br>
        <br>
        <div class="table-scroll">

            <!-- popup code -->
            <div id="xmas-popup" class="popup" href="#">
                <div class="popup-content">
                    <form>
                        <h1 style="text-align: center; margin-top: 20px;">Staff Information</h1>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Full Name:</label>
                            <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Email:</label>
                            <input type="email" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Account:</label>
                            <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                        </div>

                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Start Date:</label>
                            <input type="date" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">End Date:</label>
                            <input type="date" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Status:</label>
                            <select style="margin-left: 30px;border-radius: 5px;">
                                <option value="A">Active</option>
                                <option value="B">DeActive</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <button style="margin-left: 190px; width: 80px;" type="button" class="btn btn-success">Save</button>

                            <button style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger"><a style="text-decoration: none; color: white;" href="#">Cancel</a></button>

                        </div>

                    </form>
                </div>


                <!-- </form> -->
                <!-- <a href="#" class="close">x</a> -->
            </div>
        </div>

    </div>


</div>