@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using ISM.WebApp.Constant;
@using ISM.WebApp.Utils
@{
    var sessionUser = JsonConvert.DeserializeObject<Account>(Context.Session.GetString(LoginConst.SessionKeyName));
    if (sessionUser.role_name == "Admin")
    {
        ViewData["Title"] = "Home Page";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (sessionUser.role_name == "Staff")
    {
        ViewData["Title"] = "Home Page";
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
    else if (sessionUser.role_name == "Degree")
    {
        ViewData["Title"] = "Home Page";
        Layout = "~/Views/Shared/_DegreeStudentLayout.cshtml";
    }
    else if (sessionUser.role_name == "Mobility")
    {
        ViewData["Title"] = "Home Page";
        Layout = "~/Views/Shared/_MobilityStudentLayout.cshtml";
    }
}
<div style="height: 500px; background-color: white;">
    <div style="height: 50px;">
        <br>
        <br>
        <div class="table-scroll">
            
        </div>
    </div>
</div>