@{
    ViewData["Title"] = "Admin Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="height: 500px; background-color: white;">
    <h1 style="text-align: center;">Insurance Instruction</h1>
    <div style="height: 1100px;">
        <button style="width: 100px; border-radius: 10px; float: right; background-color: greenyellow;">
            <a style="text-decoration: none;" href="#xmas-popup">Edit</a>
        </button>
        <br>
        <br>
        <div style="height: 600px; width: 100%;">
                <object  data="~/Article/Student-Handbook-Hanoi.docx" width="100%">
                    <embed src="~/Article/Student-Handbook-Hanoi.docx" width="100%"> </embed>
                </object>

        </div>
    </div>
</div>
