@{
    ViewData["Title"] = "Admin Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="height: 500px; background-color: white;">
    <h1 style="text-align: center;">Insurance Instruction</h1>
    <div style="height: 50px;">
        <button style="width: 100px; border-radius: 10px; float: right; background-color: greenyellow;">
            <a style="text-decoration: none;" href="#xmas-popup">Edit</a>
        </button>
        <br>
        <br>
        <div style="height: 200px; width: 55%; border:1px solid black; margin: 0 auto">

            <p>Content.....................</p>






            <!-- popup code -->
            <div id="xmas-popup" class="popup" href="#">
                <div class="popup-content">
                    <form>
                        <h1 style="text-align: center; margin-top: 20px;">Insurance Instruction</h1>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Content:</label>
                            <textarea name="Text1" cols="40" rows="10"></textarea>
                        </div>

                        <div class="form-group row">
                            <button style="margin-left: 190px; width: 80px;" type="button" class="btn btn-success">Save</button>

                            <button style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger"><a style="text-decoration: none; color: white;" href="#">Cancel</a></button>

                        </div>

                    </form>
                </div>


                <!-- </form> -->
                <!-- <a href="#" class="close">x</a> -->
            </div>
        </div>

    </div>


</div>
