@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using ISM.WebApp.Constant;
@using ISM.WebApp.Utils
@{
    var sessionUser = JsonConvert.DeserializeObject<Account>(Context.Session.GetString(LoginConst.SessionKeyName));
    if (sessionUser.role_name == "Admin")
    {
        ViewData["Title"] = "Insurance Instruction Page";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (sessionUser.role_name == "Staff")
    {
        ViewData["Title"] = "Insurance Instruction Page";
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}
<div style="height: 500px; background-color: white;">
    <h1 style="text-align: center;">Insurance Instruction</h1>
    <a asp-controller="Insurance" asp-action="InsuranceClaim">Guidance for Insurance Claim</a>
    <br />
    <a asp-controller="Insurance" asp-action="BuyAndExtendNewInsusance">Guidance for buying new health insurance and extending health insurance</a>
</div>
