@{
    ViewData["Title"] = "Admin Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="height: 500px; background-color: white;">
    <h1 style="text-align: center;">Insurance Instruction</h1>
    <a asp-controller="Insurance" asp-action="InsuranceClaim">Guidance for Insurance Claim</a>
    <br />
    <a asp-controller="Insurance" asp-action="BuyAndExtendNewInsusance">Guidance for buying new health insurance and extending health insurance</a>
</div>
