@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>FPT INTERNATIONAL MANAGE STUDENT</title>
    <!-- Site favicon -->
    <link rel="shortcut icon" href="~/favicon.ico">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700" rel="stylesheet">
    <!-- Icon Font -->
    <link rel="stylesheet" href="~/fonts/ionicons/css/ionicons.css">
    <!-- Text Font -->
    <!--<link rel="stylesheet" href="~/fonts/ionicons/css/ionicons.css">-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <!-- Normal style CSS -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <!-- Normal media CSS -->
    @*<link rel="stylesheet" href="~/css/media.css">*@
    <style>
        body {
            background: url(../../image/banner7.png) no-repeat;
            background-size: cover;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <!-- Header end -->
    <main class="cd-main">
        <section class="cd-section index7 visible">
            <div class="cd-content style7">
                <div class="login-box">
                    <div class="login-form-slider">
                        <!-- login slide start -->
                        <form class="padding-40px" style="margin-top: 100px;" method="post" asp-controller="Login" asp-action="Index">
                            <div class="form-group user-name-field">
                                <input maxlength="30" type="text" class="form-control" placeholder="Username" name="txtAccount" id="login_username_id" required>
                                <div class="field-icon"><i class="ion-person"></i></div>
                            </div>
                            <div class="form-group margin-bottom-30px forgot-password-field">
                                <input maxlength="40" type="password" class="form-control" placeholder="Password" name="txtPassword" id="login_password_id" required>
                                <div class="field-icon"><i class="ion-locked"></i></div>
                            </div>
                            <div class="form-group sign-in-btn">
                                <button onclick="validateLogin();" class="submit">Sign In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
