
@{
    ViewData["Title"] = "Admin Home Page";
    Layout = "~/Views/Shared/_MobilityStudentLayout.cshtml";
}

<div style="height: 500px; background-color: white;">
    <h1 style="text-align: center;"> Detailed Agenda </h1>
    <br>
    <div class="table-scroll">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Time(GMT+7)</th>
                    <th scope="col">Time(GMT+9)</th>
                    <th scope="col">Content</th>
                    <th scope="col">Venue</th>
                    <th scope="col">PIC</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Mark</td>
                </tr>
        </table>

    </div>

</div>