
@{
    ViewData["Title"] = "Admin Home Page";
    Layout = "~/Views/Shared/_MobilityStudentLayout.cshtml";
}

<div style="height: 500px; background-color: white;">
    <h1 style="text-align: center;"> Transportation </h1>
    <br>
    <div class="table-scroll">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Bus</th>
                    <th scope="col">Driver</th>
                    <th scope="col">Itineraty</th>
                    <th scope="col">Supporter</th>
                    <th scope="col">Note</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Mark</td>
                </tr>
        </table>

    </div>

</div>