@{
    ViewData["Title"] = "Admin Home Page";
    Layout = "~/Views/Shared/_DegreeStudentLayout.cshtml";
}

<div style="height: 500px; background-color: white;">
    <h1 style="text-align: center;"> Orientation Material/ Slide </h1>
    <br>
    <br>
    <div class="table-scroll">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Program</th>
                    <th scope="col">Content</th>
                    <th scope="col">Material/Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Mark</td>
                </tr>
        </table>

    </div>

</div>
