@{
    ViewData["Title"] = "Admin Home Page";
    Layout = "~/Views/Shared/_DegreeStudentLayout.cshtml";
}

<h1 style="text-align: center;">My account</h1>
<div style="height: 50px;">

    <button style="width: 150px; border-radius: 10px;float: right;background-color: tomato;">
        <a style="text-decoration: none;" href="#xmas-popup-assign">Change Password</a>

    </button>
    <button style="width: 100px; border-radius: 10px; float: right; background-color: greenyellow;">
        <a style="text-decoration: none;" href="#xmas-popup">Edit</a>
    </button>
</div>

<br>
<br>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="~/image/potrait.png" style="height: 350px;width: 250px" />
        </div>
        <div class="col--md-6">


            <div class="form-group">
                <label for="inputEmail4">Full Name:</label>
                <label>aaa</label>
            </div>

            <div class="form-group">
                <label for="inputPassword4">Email:</label>
                <label>aaa@123.com</label>
            </div>
            <div class="form-group">
                <label for="inputAddress">Account:</label>
                <label>aaa123</label>
            </div>
            <div class="form-group">
                <label for="inputAddress2">Nationality</label>
                <label>England</label>
            </div>
            <div class="form-group">
                <label for="inputAddress2">DOB:</label>
                <label>22/6/1997</label>
            </div>
            <div class="form-group">
                <label for="inputAddress2">Gender:</label>
                <label>Male</label>
            </div>


        </div>

    </div>
</div>
<!-- popup code -->
<div id="xmas-popup" class="popup" href="#">
    <div class="popup-content">
        <form>
            <h1 style="text-align: center; margin-top: 20px;">Student Information</h1>
            <div class="form-group row">
                <label style="margin-left: 30px; font-weight: bold; width:100px;">Full Name:</label>
                <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
            </div>
            <div class="form-group row">
                <label style="margin-left: 30px; font-weight: bold; width:100px;">Email:</label>
                <input type="email" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
            </div>

            <div class="form-group row">
                <label style="margin-left: 30px; font-weight: bold; width:100px;">Nationality:</label>
                <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
            </div>
            <div class="form-group row">
                <label style="margin-left: 30px; font-weight: bold; width:100px;">DOB:</label>
                <input type="date" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
            </div>
            <div class="form-group row">
                <label style="margin-left: 30px; font-weight: bold; width:100px;">Gender:</label>
                <select style="margin-left: 30px;border-radius: 5px;">
                    <option value="A">Male</option>
                    <option value="B">Female</option>
                </select>
            </div>
            <div class="form-group row">
                <label for="img">Select image:</label>
                <input type="file" id="img" name="img" accept="image/*">
                <input type="submit">
            </div>
            <div class="form-group row">
                <button style="margin-left: 190px; width: 80px;" type="button" class="btn btn-success">Save</button>

                <button style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger"><a style="text-decoration: none; color: white;" href="#">Cancel</a></button>

            </div>

        </form>
    </div>
</div>

<div id="xmas-popup-assign" class="popup" href="#">
    <div class="popup-content-assign" style="height:300px">
        <form>
            <h1 style="text-align:center;">Change Password</h1>
            <input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off">
            <div class="row">
                <div class="col-sm-6">
                    <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 Characters Long<br>
                    <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Uppercase Letter
                </div>
                <div class="col-sm-6">
                    <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Lowercase Letter<br>
                    <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Number
                </div>
            </div>
            <input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">
            <div class="row">
                <div class="col-sm-12">
                    <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match
                </div>
            </div>
            <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password">
            <button style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger"><a style="text-decoration: none; color: white;" href="#">Cancel</a></button>
        </form>
    </div>



</div>






