@{
    ViewData["Title"] = "Admin Home Page";
    Layout = "~/Views/Shared/_DegreeStudentLayout.cshtml";
}


    <h1 style="text-align: center;">My Insurance</h1>
    <div style="height: 50px;">

        <button style="width: 100px; border-radius: 10px; float: right; background-color: greenyellow;">
            <a style="text-decoration: none;" href="#xmas-popup">Edit</a>
        </button>
        </div>

        <br>
        <br>
       

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://www.itwsecuritydivision.com/Portals/0/images/Holographic-Passport-Film.jpg?ver=2017-07-21-120332-683" style="height: 350px;width: 450px" />
                        <br />
                    </div>

                    <div class="col-md-6">


                        <div class="form-group">
                            <label for="inputEmail4">Account:</label>
                            <label>1243423</label>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail4">Full Name:</label>
                            <label>1243423</label>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword4">Start Date:</label>
                            <label>22/8/2020</label>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Expire Date:</label>
                            <label>30/8/2021</label>
                        </div>
                    </div>

                </div>
            </div>



            <!-- popup code -->
            <div id="xmas-popup" class="popup" href="#">
                <div class="popup-content" style="height:500px">
                    <form>
                        <h1 style="text-align: center; margin-top: 20px;">Insurance Information</h1>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Account:</label>
                            <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Full Name:</label>
                            <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Start Date:</label>
                            <input type="date" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                        </div>

                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Expire Date:</label>
                            <input type="date" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                        </div>

                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Link Image:</label>
                            <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="">
                        </div>
                        <div class="form-group row">
                            <button style="margin-left: 190px; width: 80px;" type="button" class="btn btn-success">Save</button>

                            <button style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger"><a style="text-decoration: none; color: white;" href="#">Cancel</a></button>

                        </div>

                    </form>
                </div>
            </div>


       


   
