@model IEnumerable<ISM.WebApp.Models.User>

@{
    ViewData["Title"] = "Staff Home Page";
}
<h1>Staff Home Page</h1>
<form method="post" asp-controller="Home" asp-action="Logout">
        <button class="btn btn-info">Log Out</button>
</form>

<table>
    @*@foreach (var item in Model)
        {

        }*@
</table>